{% load static %}

{% include 'header.html' %}

<div class="container mt-3 mt-md-4">
  <div class="row g-3">
    
    <div class="col-md-5 mb-3">
      <div class="product-image-2 p-2 p-md-3 mt-3 text-center bg-white rounded-4 shadow-sm">
        <img src="../media/{{res.product_image}}" class="img-fluid rounded-3" alt="Product" style="max-height: 400px; object-fit: contain;">
      </div>
    </div>

    <div class="col-md-7 mt-0 mt-md-4 bg-white p-3 p-md-4 rounded-4 shadow-sm">

      <div class="d-flex justify-content-end">
        <span class="wishlist-btn"data-url="{% url 'wishlist' %}" onclick="toggleWishlist(this)"data-product-id="{{ res.id }}"style="cursor:pointer;">
            {% if res.id in wished_ids %}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/></svg>
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 
              6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 
              4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/></svg>
            {% endif %}
        </span>
      </div>
      
      <h3 class="mb-2 fw-bold text-center">{{res.product_name}}</h3>
      <p class="text-muted mb-2 text-center"><strong>{{res.product_brand}}</strong></p>
      <p class="text-muted mb-3 text-center">Size: <strong>{{res.product_size}}</strong></p>
      
      <div class="d-flex align-items-center justify-content-center mb-4">
        <h4 class="text-success mb-0">₹{{res.product_offer_price}}</h4>
        <small class="text-danger text-decoration-line-through ms-3 fs-5">₹{{res.product_price}}</small>
        <span class="badge bg-success ms-5">{{res.product_offer}}% OFF</span>
      </div>

      <!-- Add to cart -->

      <form action="{% url 'add_to_cart' %}" method="POST" class="mb-4 d-flex justify-content-center">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ res.id }}">
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="btn w-75 add-to-cart-btn d-flex h-25 justify-content-center py-2 fw-bold">
          <span class="add-to-cart-span">Add to Cart</span>
          <span class="add-to-cart-span">
          </span>
        </button>
      </form>
      
      <div class="bg-light  p-3 rounded-3 mb-4">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <i class="bi bi-truck text-success me-2"></i>
          <span><strong>Delivery:</strong> Fast 24-Hour Delivery</span>
        </div>
        <div class="d-flex align-items-center justify-content-center pt-2">
          <i class="bi bi-arrow-left-right text-success me-2"></i>
          <span><strong>Return Policy:</strong> 24-Hour Return Policy</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="row mt-4 mt-md-5">
    <div class="col-12">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <h4 class="fw-bold mb-3">Description</h4>
          <p class="mb-0">{{res.product_description}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Product info -->
  <div class="row mt-4 mt-md-5 mb-3">
    <div class="col-12">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <h4 class="fw-bold mb-3">Product Info</h4>
          <div class="row">
            <div class="col-md-6">
              <p class="mb-2"><span class="text-success fw-bold">Name:</span> {{res.product_name}}</p>
              <p class="mb-2"><span class="text-success fw-bold">Invoice:</span> {{res.product_invoice}}</p>
            </div>
            <div class="col-md-6">
              <p class="mb-2"><span class="text-success fw-bold">Brand:</span> {{res.product_brand}}</p>
              <p class="mb-0"><span class="text-success fw-bold">Size:</span> {{res.product_size}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Suggest -->

<h4 class="text-center">Products also you like</h4>

<div class="recommendation-section position-relative">
  <!-- Left Arrow -->
  <button class="carousel-nav left-nav">&#10094;</button>

  <!-- Right Arrow -->
  <button class="carousel-nav right-nav">&#10095;</button>

  <div class="carousel-track-container overflow-hidden">
    <div class="carousel-track d-flex">
      {% for product in recommendations %}
      <div class="carousel-card">
        <a href="{% url 'product_detailes' id=product.id %}" class="card-body-wrapper text-decoration-none text-dark">
          <img src="{{ product.image_url }}" alt="{{ product.name }}">
          <div class="text-wrap">
            <h6 class="product-title">{{ product.name }}</h6>
            {% if product.size %}
            <p class="text-muted small">{{ product.size }}</p>
            {% endif %}
            <div class="price-box">
              {% if product.original_price and product.original_price != product.price %}
                <span class="original-price me-5">₹{{ product.original_price }}</span>
              {% endif %}
              <span class="offer-price">₹{{ product.price }}</span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'footer.html' %}