{% load static %}

{% include 'header.html' %}

<!-- email is not existing -->

{% if error %}
  <div id="reset-error-message" data-error="{{ error }}"></div>
{% endif %}

<!-- -->

<section>

    <h2 class="text-center Sign-head mb-3">Enter Valid Email</h2>
    
    <div id="" class="container d-flex justify-content-center mb-5">
        <div class="card shadow signup-in backdrop">
            <div class="card-body">
                <form action="{% url 'reset_pass_step1' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control mt-4 signup-in-input" id="check_email" name="check_email" placeholder="Enter email"></div>
                    <center>
                        <button type="submit" class="btn sign-btn mt-3 mb-2">Verify</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
    
</section>

{% include 'footer.html' %}