{% load static %}

{% include 'header.html' %}

<!-- existing email alert -->

{% if error %}
    <div id="error-message" data-error="{{ error }}"></div>
{% endif %}

<!-- -->

<section>

<h2 class="text-center Sign-head mb-3">Signup</h2>

<div id="login_signup" class="container d-flex justify-content-center mb-5">
    <div class="card shadow signup-in backdrop">
        <div class="card-body">
            <form action="#" method="POST" onsubmit="return validation()">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control mt-4 signup-in-input" id="u_email" name="Email" placeholder="Email" autocomplete="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control mt-3 signup-in-input" id="u_pass" name="Password" placeholder="Password" autocomplete="new-password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control mt-4 signup-in-input" id="u_name" name="Name" placeholder="Name" autocomplete="name">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control mt-4 signup-in-input" name="Mobile" id="u_mobile" placeholder="Mobile" autocomplete="tel">
                </div>
                <center>
                    <button type="submit" class="btn sign-btn mt-3 mb-2">Signup</button>
                </center>
            </form>
        </div>
    </div>
</div>

<center>
    <a href="login" class="mb-4 btn ba sign-btn">Login</a>
</center>

</section>



{% include 'footer.html' %}