*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F7E7CE;
    height: auto;
}

.playwrite-au-sa {
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* navigation bar start --------------------------------------------------------------------------------------- */

.container-fluid{
    padding: 0;
    margin: 0;
}
.navbar1 {
    background: linear-gradient(to top, #182d09, #182d09, #182d09, #223d0f, #2d4e12);
    height: 80px;
}

.img_navbar {
    padding: 10px 0px 0px 20px;
}
.span_search {
    border: 1px solid silver;
    background-color: white;
    height: 40px;
    width: 350px;
    padding: 6px;
    border-radius: 20px;
    margin-top: 19px;
    overflow: hidden;
}
.span_search input{
    border: none;
    outline: none;
    background: transparent;
    color: black;
    overflow: hidden;

}
.span_search button{
    border: none;
    background: transparent;
    float: right;
    overflow: hidden;
}
.div_category {
    margin-top: 24px;
    font-size: 17px;
    color: white;
    position: relative;
    cursor: pointer;
}
.div_category::after {
    content: "";
    position: absolute;
    bottom: 20px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #F7E7CE;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.div_category:hover::after {
    transform: scaleX(1);
}
.div_account {
    margin-top: 24px;
    font-size: 17px;
    color: white;
    position: relative;
    cursor: pointer;
}
.div_account::after {
    content: "";
    position: absolute;
    bottom: 20px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #F7E7CE;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.div_account:hover::after {
    transform: scaleX(1);
}
.div_button_nav {
    margin-top: 20px;
}
.div_button_nav button {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    color: white;
}
.btn_nav2 {
    background-color: black;
    border-color: #F7E7CE;
    display: inline-block;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    text-align: center;
}
.btn_nav2:hover, .btn_nav2:focus {
    background-color: #09182d;
    color: #F7E7CE;
    
}
.btn_nav2:hover::before, .btn_nav2:focus::before {
    transition: 0.5s ease all;
    left: 0;
    right: 0;
    opacity: 1;
}
button:active {
    transform: scale(0.9);
}
.btn-nav {
    background-color: #416d0b;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    color: black;
    border-color: #F7E7CE;
}

.btn-nav:hover {
   background-color: #0a2014;
   background-position: right center;
   color: white;
   text-decoration: none;
}
.svg_drop_nav {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    color: white;
}
.svg_search-div{
    display: none;
}
.svg_search-icon {
    width: 30px;
    height: 25px;
    margin-top: 25px;
    color: white;
}
.div_navdrop img {
    filter: drop-shadow(0px 0px 5px black);
    width: 100%;
    position: relative;
    height: 55px;
    top: 0px;
    z-index: -1;
    animation: nav-drop 2s ease-in-out;
    animation-iteration-count: 1;
}
@keyframes nav-drop {
   from {
    top: -60px;
   }
   to {
    top: 0px;
   }
}

/* catagory-list */


.catagory-list{
    position: absolute;
    top: 75px;
    background-color: #182d09;
}

.catagories-drop{
    color: white;
    font-size: 19px;
}

.catagories-drop:hover{
    color: orange;
}

.catagories-drop-li{
    width: 155px;
    height: 65px;
    text-align: center;
    list-style-type: none;
}

/* account section */

.div_accounts {
    width: 200px;
    background-color: #182d09;
    padding: 0;
    margin: 0;
    filter: drop-shadow(0 5px 10px black);
    position: absolute;
    top: 10%;
    right: 16%;
    z-index: 1000;
    height: auto;
}

.div_accounts ul {
    display: none;
}

.div_accounts ul li {
    list-style-type: none;
    height: 45px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.div_accounts ul li:hover{
    background-color: orange;
    border: 1px solid #182d09;
}

/* mobile view drop-down menu */

 .drop-down-sm-view{
    background-color: #182d09;
    width: 250px;
    filter: drop-shadow(0 0 15px black);
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 1000;
}

.ul-mob-drop {
    display: none;
    height: 540px;
}

.drop-menu-mob-2 {
    list-style-type: none;
    height: 48px;
    border: 1px solid black;
    text-align: center;
    font-size: 19px;
}

.drop-menu-mob-2:hover{
    background-color: orange;
}

 /* navigation bar end ---------------------------------------------------------------------------------------- */

 /* carousal start -------------------------------------------------------------------------------------------- */

.hero-carousel {
    height: 85vh;
    min-height: 400px;
    max-height: 640px;
    filter: drop-shadow(0 0 10px black);
}

.carousel-item {
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.6s ease-in-out;
}

.carousel-caption {
    bottom: 25%;
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: opacity 0.5s ease;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    z-index: 1000;
}

.hero-btn {
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 50px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.hero-btn-primary {
    background-color: #182d09;
    border-color: #F7E7CE;
    color: white;
}

.hero-btn-primary:hover {
    background-color: orange;
    color: black;
    border-color: #F7E7CE;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.8s ease;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease;
}

 /* category card start ----------------------------------------------------------------------------------------- */


 .category-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.271);
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.645);
}

.ctgry-card-heading {
    font-size: 50px;
    color: #182d09;
    font-family: "Cal Sans", sans-serif;
}

.category-img {
    height: 180px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.category-card:hover .category-img {
    transform: scale(1.05);
}

.category-body {
    background: white;
}

.category-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.category-count {
    color: #6c757d;
    font-size: 0.9rem;
}

.btn-explore {
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.btn-explore:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.card-btn {
    background: #182d09;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease;
    align-self: flex-start;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-btn:hover {
    background: orange;
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 0.6s ease-out;
}
  
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

 /* category card end ------------------------------------------------------------------------------------------- */

 /* About Us start ---------------------------------------------------------------------------------------------- */

 .aboutus {
    display: flex;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery {
    margin: 5px;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s;
    border: 4px solid #182d09;
}

.image-gallery2 {
    margin: 5px;
    width: 100%;
    max-width: 610px;
    transition: transform 0.3s;
    border: 4px solid #182d09;
}

.image-gallery img:hover {
    transform: scale(1.05);
}

.text-content {
    padding: 20px;
}

.text-content h1 {
    font-family: "Cal Sans", sans-serif;
}

.text-content p {
    font-family: "Playwrite AU SA", cursive;
}

.about-btn {
    background-color: #182d09;
    color: white;
    border-radius: 20px;
}

.about-btn:hover {
    background-color: orange;
    color: black;
}

/* About Us end ------------------------------------------------------------------------------------------------- */

/* Footer start ------------------------------------------------------------------------------------------------- */

.footer {
    background-color: #182d09;
    color: white;
    padding-top: 40px;
    border-top: 2px solid #F7E7CE;
}

.footer a {
    color: #e0e0e0;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer a:hover {
    color: orange;
    padding-left: 5px;
}

.footer-heading {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.footer-heading:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #ffc107;
}

.footer-bottom {
    background-color: #223d0f;
    padding: 15px 0;
}

.payment-methods img {
    height: 30px;
    margin-right: 10px;
    filter: brightness(130%);
}

.social-icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: #416d0b;
    color: #2a6f3b;
    transform: translateY(-3px);
}

.newsletter-input {
    border: none;
    border-radius: 0;
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.newsletter-input::placeholder {
    color: #ccc;
}

.newsletter-btn {
    background-color: #ffc107;
    color: #2a6f3b;
    border: none;
    font-weight: 600;
}

.newsletter-btn:hover {
    background-color: #e0b000;
}

/* Footer end --------------------------------------------------------------------------------------------------- */

/* Signup & Login start ----------------------------------------------------------------------------------------- */

.Sign-head {
    color: #182d09;
    font-family: "Cal Sans", sans-serif;
}

.signup-in {
    background-color: rgba(255, 255, 255, 0.3);
    width: 400px;
    border-radius: 10px;
}

.signup-in-input {
    width: 280px;
    margin-left: 45px;
    border: 1px solid #182d09;
}

.sign-btn {
    background-color: #182d09;
    color: white;
    width: 100px;
    border-radius: 20px;
    filter: blur(0);
}

.sign-btn:hover {
    background-color: orange;
    color: black;
    width: 100px;
    border-radius: 20px;
}

/* Signup OTP */

.otp-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    animation: fadeIn 0.6s ease-in-out;
}

.otp-box {
    background: #007bff;
    color: #fff;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
}

.otp-box.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Reset password OTP */

.reset-otp-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    animation: fadeIn 0.6s ease-in-out;
}
  
.reset-otp-box {
    background: #007bff;
    color: #fff;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
}
  
.reset-otp-box.show {
    opacity: 1;
    transform: translateY(0);
}
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Signup & Login end ------------------------------------------------------------------------------------------- */

/* User account start ------------------------------------------------------------------------------------------- */

.forest-green {
    color: #182d09;
}

.user-btn {
    background-color: #182d09;
}

.user-btn:hover {
    background-color: orange;
}

.user_acc_options {
    color: #182d09;
}

.user_acc_options:hover {
    color: orange;
}

.user-p {
    border: 1px solid rgba(128, 128, 128, 0.366);
    background-color: white;
    height: 38px;
    border-radius: 8px;
    padding-top: 7px;
}

/* User account end --------------------------------------------------------------------------------------------- */

/* additional info ~ gender */

.gender-container {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    max-width: 300px;
    width: 100%;
}

.gender-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
}

.gender-option input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 80px;
    border: 2px solid #bbb;
    border-radius: 30px;
    background-color: #f5f7fa;
    font-weight: 600;
    color: #555;
    transition: all 0.3s ease;
    user-select: none;
    box-sizing: border-box;
}

.gender-option:hover .custom-radio {
    border-color: #182d09;
    color: #182d09;
    background-color: #e6f0fd;
}

.gender-option input[type="radio"]:checked + .custom-radio {
    border-color: #182d09;
    background-color: #182d09;
    color: white;
}

/* product browsing start --------------------------------------------------------------------------------------- */

.sidebar {
    width: 250px;
    min-height: 100vh;
    transition: width 0.2s;
    background-color: #182d09;
}

.sidebar.collapsed {
    width: 70px;
}
  
.sidebar.collapsed .nav-link span,
.sidebar.collapsed strong {
    display: none;
}

.nav-link i {
    font-size: 1.2rem;
}  
  
.sidebar .nav-link {
    padding: 10px;
    white-space: nowrap;
}
  
.sidebar .nav-link:hover {
    background-color: orange;
    color: black;
}
  
.content {
    min-height: 100vh;
    overflow: hidden;
    padding-left: 0px; 
    transition: padding 0.3s ease;
}

.sidebar.collapsed ~ .content {
    padding-left: 0px;
}

/* card */

.product-card {
    max-width: 250px;
}

.product-card.small {
    max-width: 150px;
    max-height: 80px;
}

.product-image-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
  
.product-image {
    transition: transform 0.3s ease;
    max-width: 210px;
    max-height: 180px;
    margin-left: 15px;
    object-fit: contain;
}
  
.product-card:hover .product-image {
    transform: scale(1.03);
}

/* add to cart */

.add-to-cart-btn {
    border: 2px solid #182d09;
    border-radius: 10px;
    height: 33px;
    text-decoration: none;
    color: #182d09;
}

.add-to-cart-btn:hover {
    background-color: #182d09;
    color: white;
}

/* Whishlist */

.wishlist-btn {
    background: transparent;
    padding: 6px 9px;
}

/* product browsing end ----------------------------------------------------------------------------------------- */

/* product detailes start --------------------------------------------------------------------------------------- */

.product-image-2 {
    max-width: 500px;
}

.add-to-cart-btn-2 {
    border: 2px solid #182d09;
    border-radius: 10px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #182d09;
}

/* product detailes end ----------------------------------------------------------------------------------------- */